@model Forum.Web.ViewModels.Threads.ThreadDetailViewModel

<h2>@Model.Title</h2>
@Ajax.ActionLink("Post answer", "PostAnswer", "Thread", new { threadId = Model.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "post-answer-box", AllowCache = false }, new { @class = "btn btn-default" })

<div id="post-answer-box">

</div>
<div>
    <div>@Model.Title</div>
    <div>@Model.Content</div>
    <div>by: @Model.AuthorName</div>
</div>
<div id="posts-container">
   @Html.Partial("_PostsList", Model.Posts)
</div>

